<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io-client.js"></script>
    <script>
        $(function () {
            let io = new io();

            io.on('sendfile')
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post" encType="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
